/*
		So, a brief note about the CSS for this page. 

		Bootstrap is too much.

		You'll notice a few CSS3 flourishes here and there, rounded corners and drop shadows.

		I've also chosen not to preprocess the file - minify the CSS and Javascript,
		etc. First, a page this size (less than 30k including the image) doesn't need it.
		Second, part of the purpose of this page is for the source to be read.

		Truth be told I was tempted to put together a multi-page monstrosity
		filled with corporate-speak. But that would only be ugly, but worse,
		dishonest. Let's face it: as of yet I'm a single coder consultancy.
		Although I do use freelance designers (including 99designs) and a *ton*
		of other vendors for things like hosting (thanks Linode and Google!)
		but for now, it's just me.

		The `body` is like a desk, with `content` a (very long) piece of paper on that desk.
*/

/*==================== Basic colors and typography =======================*/
body{
	color: #444;
	background: #EEE;
	font: 14px/24px sans-serif;
}

/*==================== Link color and decoration =======================*/
a{
	color: hsl(215,88%,47%);
	text-decoration: none;
}
a:visited{
	color: hsl(205,58%,47%);
}
a:hover{
	color: red;
}
a:active{
	color: #444;
}


/*====================== Content ==========================*/
/* Our content area is centered with a pattern background, padding and a max-width, and inherits all fonts from body*/
#content{
	background: #FFF url(light-crosshatch.jpg);
	text-align: justify;
	hyphens: auto; /*http://www.quirksmode.org/blog/archives/2012/11/hyphenation_wor.html*/
	margin: 0 auto;
	max-width: 810px;
	min-width: 480px;
	padding: 10px 50px;
	box-shadow: 0 1px 90px #137;
	border-radius: 8px;

}

/*================== Nudge the header, logo and tagline around to look good ====================*/
header div{
	margin: 0 auto;
	width: 480px;
	padding-right: 145px;
	margin-bottom: 30px;
}
header h1{
	margin-bottom: 0;
}
.tagline{
	margin-top: 2px;
	margin-left: 141px;
}
#logo{
	float: left;
	margin-top: -28px;
	width: 100px;
	height: 100px;
}

/*================== Misc. styles ====================*/
hr{
	clear:both;
	margin-top: 10px;
}
footer{
	font-size: smaller;
	text-align: center;
}
.blurb{
	margin: 0 100px;
}
.blurb span{
	font-size: smaller;
	display: block; margin-top: 10px;
}
h4{
	margin-left: 30px;
}
.updated{
	font-size:10px;
	font-style: italic;
	float: right;
	clear:both;
}
pre{
	clear:both;
}
.left{
	float: left;
	margin-right: 20px;
}
.right{
	float: right;
	margin-left: 20px;
}
.clearfix{
	clear:both;
}